@using Samco_HSE.HSEData
<div>
    <MudAlert Severity="Severity.Normal">نسخه تجویزی</MudAlert>
</div>
@{
    if (IsEditable)
    {
        <MudCard>
            <MudCardContent>
                <DxFormLayout>
                    <DxFormLayoutItem Caption="دارو / تجهیز">
                        <DxComboBox Data="@_medicationList" @bind-Value="@_selUsedMedicine!.MedicName" NullText="الزامی"
                                    EditFormat="{0} {2} {1}" CssClass="w-50"
                                    FilteringMode="DataGridFilteringMode.Contains">
                            <DxListEditorColumn FieldName="@nameof(Medication.Name)" Caption="نام دارو / تجهیز"/>
                            <DxListEditorColumn FieldName="@nameof(Medication.Dose)" Caption="دوز"/>
                            <DxListEditorColumn FieldName="@nameof(Medication.DrugForm)" Caption="فرم دارویی"/>
                        </DxComboBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="تعداد">
                        <MudNumericField T="short" @bind-Value="@_selUsedMedicine.MedCount" Min="1" Max="100" Step="1"></MudNumericField>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem>
                        <MudButton StartIcon="fa-solid fa-check" Color="Color.Primary" OnClick="AddMedicineBtnClick"/>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </MudCardContent>
        </MudCard>
    }
}
<DxGrid @ref="MedicineGrid" Data="DetailGridData"
        PageSize="5" SelectionMode="GridSelectionMode.Single" AllowSelectRowByClick="@IsEditable"
        AutoExpandAllGroupRows="true" SelectedDataItemChanged="MedicineGrid_SelectionChanged">
    <Columns>
        <DxGridDataColumn FieldName="MedicName.Name" Caption="نام دارو / تجهیز" Width="40%" />
        <DxGridDataColumn FieldName="MedicName.Dose" Caption="دوز" />
        <DxGridDataColumn FieldName="MedicName.DrugForm" Caption="فرم دارویی" />
        <DxGridDataColumn FieldName="MedCount" Caption="تعداد" />
    </Columns>
</DxGrid>