@using Samco_HSE.HSEData
@using HorizontalAlignment = MudBlazor.HorizontalAlignment
@using FilterType = Syncfusion.Blazor.Grids.FilterType

<MudPaper Elevation="3">
    <div class="my-2">
        <MudAlert Elevation="3" Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Right" Variant="Variant.Filled">ارجاع بیمار به متخصص</MudAlert>
    </div>
    <SfGrid DataSource="@DetailGridData" AllowPaging="true" AllowSorting="true" AllowFiltering="true" EnableStickyHeader="true"
            AllowGrouping="true" Toolbar="@(new [] {"Add", "Edit","Delete" ,"Search", "ColumnChooser" })" ClipMode="ClipMode.EllipsisWithTooltip"
            AllowResizing="true" ShowColumnChooser="true" EnableAdaptiveUI="true" AdaptiveUIMode="AdaptiveMode.Mobile"
            Width="100%">
        <GridEvents TValue="MedicalReferral" OnActionBegin="ReferGrid_Action" />
        <GridFilterSettings Type="FilterType.Excel" />
        <GridColumns>
            <GridColumn HeaderText="ردیف" Field="Oid" IsIdentity="true" IsPrimaryKey="true" Visible="false" />
            <GridColumn HeaderText="نام تخصص" Field="Specialist" />
            <GridColumn HeaderText="توضیحات" Field="Comment" MinWidth="400" />
        </GridColumns>
        <GridEditSettings AllowAdding="@CanAdd" AllowDeleting="@CanEdit" AllowEditing="@CanEdit"
                          AllowEditOnDblClick="true" Mode="EditMode.Normal"
                          ShowDeleteConfirmDialog="true" Dialog="@SamcoSoftShared.GeneralGridEditOption">
            <Validator><DataAnnotationsValidator /></Validator>
            <Template Context="editFormContext">
                @{
                    var refer = editFormContext as MedicalReferral;
                }
                <MudRTLProvider RightToLeft="true">
                    <MudGrid>
                        <MudItem md="6" sm="12">
                            <MudField Label="تخصص:" DisableUnderLine="true">
                                <SfComboBox TValue="string" TItem="string" Placeholder="الزامی" DataSource="@_specialistList" @bind-Value="@refer!.Specialist"
                                            AllowFiltering="true" CssClass="ltr">
                                </SfComboBox>
                            </MudField>
                        </MudItem>
                        <MudItem md="6" sm="12">
                            <MudTextField Label="توضیح:" @bind-Value="refer!.Comment" Placeholder="دلیل ارجاع و درمان احتمالی..." />
                        </MudItem>
                    </MudGrid>
                </MudRTLProvider>
            </Template>
        </GridEditSettings>
    </SfGrid>
</MudPaper>