@using Samco_HSE.HSEData
@using FilterType = Syncfusion.Blazor.Grids.FilterType
@using SelectionMode = Syncfusion.Blazor.DropDowns.SelectionMode
@page "/projects"
@attribute [Authorize(Roles = "Owner,Admin")]

<PageTitle>مدیریت عملیات حفاری</PageTitle>

<MudGrid>
    <MudItem md="4" sm="12">
        <MudCard Elevation="3" Outlined="true">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudIcon Icon="@Icons.Material.Filled.Work"/>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">پروژه‌ها</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <SfListBox TItem="ListProject" TValue="int[]" DataSource="@DrillProjects" @bind-Value="@_selProjectOid" Height="200px">
                    <ListBoxSelectionSettings Mode="SelectionMode.Single"/>
                    <ListBoxEvents TItem="ListProject" TValue="int[]" ValueChange="OnProjectChange"></ListBoxEvents>
                    <ListBoxFieldSettings Text="Name" Value="Oid"/>
                </SfListBox>
                <EditController EditorType="EditController.EditType.Project" OnNewButtonClicked="NewBtnClick" OnEditButtonClicked="EditBtnClick"
                                OnDelButtonClicked="DelBtnClick">
                </EditController>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem md="4" sm="12">
        <MudCard Elevation="3" Outlined="true">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <FontAwesomeIcon Icon="@FontAwesome.OilWell" IconType="IconType.Solid" Size="1.5em"/>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">چاه‌ها</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <SfListBox TItem="ListWell" TValue="int[]" DataSource="Wells" @bind-Value="@_selWellOid" Height="200px">
                    <ListBoxSelectionSettings Mode="SelectionMode.Single"/>
                    <ListBoxFieldSettings Text="Name" Value="Oid"/>
                </SfListBox>
                <EditController EditorType="EditController.EditType.Well" OnNewButtonClicked="NewBtnClick" OnEditButtonClicked="EditBtnClick"
                                OnDelButtonClicked="DelBtnClick">
                </EditController>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem md="4" sm="12">
        <MudCard Elevation="3" Outlined="true">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudIcon Icon="@Icons.Material.Filled.AddHomeWork"/>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">دکل / پالایشگاه / دفتر</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <SfListBox TItem="Rig" TValue="int[]" DataSource="@Rigs" @bind-Value="@_selRigOid" Height="200px">
                    <ListBoxSelectionSettings Mode="SelectionMode.Single"/>
                    <ListBoxFieldSettings Text="Name" Value="Oid"/>
                </SfListBox>
                <EditController EditorType="EditController.EditType.Rig" OnNewButtonClicked="NewBtnClick" OnEditButtonClicked="EditBtnClick"
                                OnDelButtonClicked="DelBtnClick">
                </EditController>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

<div class="mt-3">
    <MudGrid>
        <MudItem>
            <MudCard Elevation="3" Outlined="true">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudIcon Icon="fas fa-person-digging"/>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">عملیات حفاری</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <SfGrid @ref="WorkGrid" ID="workGrid" DataSource="@WellWorks" AllowPaging="true" AllowSorting="true" AllowFiltering="true" EnableStickyHeader="true"
                            AllowGrouping="true" Toolbar="@(new[] { "Add", "Edit", "Delete", "Search", "ColumnChooser" })" ClipMode="ClipMode.EllipsisWithTooltip"
                            AllowResizing="true" ShowColumnChooser="true" EnableAdaptiveUI="true" AdaptiveUIMode="AdaptiveMode.Mobile"
                            Width="100%">
                        <GridEvents TValue="WellWork" OnActionBegin="WorkGrid_Action" OnToolbarClick="WorkToolbarClickHandler"/>
                        <GridFilterSettings Type="FilterType.Excel"/>
                        <GridColumns>
                            <GridColumn HeaderText="ردیف" Field="Oid" IsIdentity="true" IsPrimaryKey="true" Visible="false"/>
                            <GridColumn HeaderText="دکل" Field="RigNo.Name" AutoFit="true"/>
                            <GridColumn HeaderText="چاه" Field="WellNo.Name" AutoFit="true"/>
                            <GridColumn HeaderText="عملیات فعال" Field="IsActive" DisplayAsCheckBox="true" AutoFit="true"/>
                            <GridColumn HeaderText="تاریخ شروع" Field="StartDate" AutoFit="true"/>
                            <GridColumn HeaderText="تاریخ پایان" Field="EndDate" AutoFit="true"/>
                            <GridColumn HeaderText="تعداد اخطارهای صادر شده">
                                <Template>
                                    @{
                                        var work = context as WellWork;
                                        @work?.Warnings.Count
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn HeaderText="تعداد حوادث اتفاق افتاده">
                                <Template>
                                    @{
                                        var work = (context as WellWork);
                                        @work?.AccidentReports.Count
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn HeaderText="تعداد مانورهای برگزار شده">
                                <Template>
                                    @{
                                        var work = (context as WellWork);
                                        @work?.Practices.Count
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn HeaderText="تعداد آموزش‌های برگزار شده">
                                <Template>
                                    @{
                                        var work = (context as WellWork);
                                        @work?.Trainings.Count
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                        <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"
                                          AllowEditOnDblClick="true" Mode="EditMode.Dialog"
                                          ShowDeleteConfirmDialog="true" Dialog="@SamcoSoftShared.GeneralGridEditOption">
                            <Validator>
                                <DataAnnotationsValidator/>
                            </Validator>
                            <Template Context="editFormContext">
                                @{
                                    var wellWork = editFormContext as WellWork;
                                }
                                <MudRTLProvider RightToLeft="true">
                                    <MudGrid>
                                        <MudItem md="4" sm="12">
                                            <MudField Label="نام دکل / پالایشگاه:" DisableUnderLine="true">
                                                <SamcoRigSelector DataSource="Rigs" @bind-SelectedRig="@wellWork.RigNo"/>
                                            </MudField>
                                        </MudItem>
                                        <MudItem md="4" sm="12">
                                            <MudField Label="انتخاب پروژه / چاه:" DisableUnderLine="true">
                                                <SfComboBox TItem="ListWell" TValue="ListWell" DataSource="@_selProjectWllList"
                                                            Placeholder="الزامی" @bind-Value="@_selProjectWell">
                                                    <ComboBoxTemplates TItem="ListWell">
                                                        <HeaderTemplate>
                                                            <MudGrid Justify="Justify.SpaceEvenly" Class="w-100">
                                                                <MudItem Class="w-50">
                                                                    <MudText Typo="Typo.body1">نام پروژه</MudText>
                                                                </MudItem>
                                                                <MudItem Class="w-50">
                                                                    <MudText Typo="Typo.body1">نام چاه</MudText>
                                                                </MudItem>
                                                            </MudGrid>
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <MudGrid Justify="Justify.SpaceEvenly" Class="w-100">
                                                                <MudItem Class="w-50">@(context.ProjectName)</MudItem>
                                                                <MudItem Class="w-50">@(context.Name)</MudItem>
                                                            </MudGrid>
                                                        </ItemTemplate>
                                                    </ComboBoxTemplates>
                                                    <ComboBoxFieldSettings Text="Name"/>
                                                </SfComboBox>
                                            </MudField>
                                        </MudItem>
                                        <MudItem md="4" sm="12">
                                            <MudField Label="تاریخ شروع:" DisableUnderLine="true">
                                                <SamcoDateSelector @bind-DateNotNull="@wellWork.StartDate" DefaultCalendar="SamcoDateSelector.CalendarType.Persian"/>
                                            </MudField>
                                        </MudItem>
                                        <MudItem md="4" sm="12">
                                            <MudField Label="تاریخ پایان:" DisableUnderLine="true">
                                                <SamcoDateSelector @bind-Date="@wellWork.EndDate" DefaultCalendar="SamcoDateSelector.CalendarType.Persian"/>
                                            </MudField>
                                        </MudItem>
                                        <MudItem md="4" sm="12">
                                            <MudField Label="وضعیت:" DisableUnderLine="true">
                                                <MudCheckBox @bind-Value="@wellWork.IsActive" Label="عملیات فعال است"/>
                                            </MudField>
                                        </MudItem>
                                    </MudGrid>
                                </MudRTLProvider>
                            </Template>
                        </GridEditSettings>
                    </SfGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</div>