@using Samco_HSE.HSEData
@using FilterType = Syncfusion.Blazor.Grids.FilterType
@using SelectionMode = Syncfusion.Blazor.DropDowns.SelectionMode
@page "/projects"
@attribute [Authorize(Roles = "Owner,Admin")]
@inject IStringLocalizer<Resource> L

<PageTitle>@L["Projects_Title"]</PageTitle>

<MudGrid>
    <MudItem md="4" sm="12">
        <MudCard Elevation="3" Outlined="true">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudIcon Icon="@Icons.Material.Filled.Work"/>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@L["Projects_ProjectCard"]</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <SfListBox TItem="Project" TValue="int[]" DataSource="@DrillProjects" @bind-Value="@_selProjectOid"
                           Height="200px" EnableRtl="IsRightToLeft">
                    <ListBoxSelectionSettings Mode="SelectionMode.Single"/>
                    <ListBoxEvents TItem="Project" TValue="int[]" ValueChange="OnProjectChange"/>
                    <ListBoxFieldSettings Text="Name" Value="Oid"/>
                </SfListBox>
                <EditController EditorType="EditController.EditType.Project" OnNewButtonClicked="NewBtnClick" OnEditButtonClicked="EditBtnClick"
                                OnDelButtonClicked="DelBtnClick">
                </EditController>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem md="4" sm="12">
        <MudCard Elevation="3" Outlined="true">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <FontAwesomeIcon Icon="@FontAwesome.OilWell" IconType="IconType.Solid" Size="1.5em"/>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@L["Projects_Wells"]</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <SfListBox TItem="Well" TValue="int[]" DataSource="_wells" @bind-Value="@_selWellOid"
                           Height="200px" EnableRtl="IsRightToLeft">
                    <ListBoxSelectionSettings Mode="SelectionMode.Single"/>
                    <ListBoxFieldSettings Text="Name" Value="Oid"/>
                </SfListBox>
                <EditController EditorType="EditController.EditType.Well" OnNewButtonClicked="NewBtnClick" OnEditButtonClicked="EditBtnClick"
                                OnDelButtonClicked="DelBtnClick">
                </EditController>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem md="4" sm="12">
        <MudCard Elevation="3" Outlined="true">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudIcon Icon="@Icons.Material.Filled.AddHomeWork"/>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@L["Projects_Locations"]</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <SfListBox TItem="Rig" TValue="int[]" DataSource="@_rigs" @bind-Value="@_selRigOid"
                           Height="200px" EnableRtl="IsRightToLeft">
                    <ListBoxSelectionSettings Mode="SelectionMode.Single"/>
                    <ListBoxFieldSettings Text="Name" Value="Oid"/>
                </SfListBox>
                <EditController EditorType="EditController.EditType.Rig" OnNewButtonClicked="NewBtnClick" OnEditButtonClicked="EditBtnClick"
                                OnDelButtonClicked="DelBtnClick">
                </EditController>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

<div class="mt-3">
    <MudGrid>
        <MudItem>
            <MudCard Elevation="3" Outlined="true">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudIcon Icon="fas fa-person-digging"/>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">@L["Projects_OperationTitle"]</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <SfGrid @ref="WorkGrid" ID="workGrid" DataSource="@WellWorks" AllowPaging="true" AllowSorting="true" AllowFiltering="true" EnableStickyHeader="true"
                            AllowGrouping="true" Toolbar="@(new[] { "Add", "Edit", "Delete", "Search", "ColumnChooser" })" ClipMode="ClipMode.EllipsisWithTooltip"
                            AllowResizing="true" ShowColumnChooser="true" EnableAdaptiveUI="true" AdaptiveUIMode="AdaptiveMode.Mobile"
                            Width="100%" EnableRtl="IsRightToLeft">
                        <GridEvents TValue="WellWork" OnActionBegin="WorkGrid_Action" OnToolbarClick="WorkToolbarClickHandler"/>
                        <GridFilterSettings Type="FilterType.Excel"/>
                        <GridColumns>
                            <GridColumn HeaderText="@L["GridHeaderOid"]" Field="Oid" IsIdentity="true" IsPrimaryKey="true" Visible="false" />
                            <GridColumn HeaderText="@L["GridHeaderLocation"]" Field="RigNo.Name" AutoFit="true" />
                            <GridColumn HeaderText="@L["GridHeaderWell"]" Field="WellNo.Name" AutoFit="true" />
                            <GridColumn HeaderText="@L["GridHeaderActiveOperation"]" Field="IsActive" DisplayAsCheckBox="true" AutoFit="true" />
                            <GridColumn HeaderText="@L["GridHeaderStartDate"]" Field="StartDate" AutoFit="true" />
                            <GridColumn HeaderText="@L["GridHeaderEndDate"]" Field="EndDate" AutoFit="true"/>
                            <GridColumn HeaderText="@L["GridHeaderIssuedWarningsCount"]">
                                <Template>
                                    @{
                                        var work = context as WellWork;
                                        @work?.Warnings.Count
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn HeaderText="@L["GridHeaderAccidentsCount"]">
                                <Template>
                                    @{
                                        var work = (context as WellWork);
                                        @work?.AccidentReports.Count
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn HeaderText="@L["GridHeaderDrillsCount"]">
                                <Template>
                                    @{
                                        var work = (context as WellWork);
                                        @work?.Practices.Count
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn HeaderText="@L["GridHeaderTrainingCounts"]">
                                <Template>
                                    @{
                                        var work = (context as WellWork);
                                        @work?.Trainings.Count
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                        <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"
                                          AllowEditOnDblClick="true" Mode="EditMode.Dialog"
                                          ShowDeleteConfirmDialog="true" Dialog="@SamcoSoftShared.GeneralGridEditOption">
                            <Validator>
                                <DataAnnotationsValidator/>
                            </Validator>
                            <Template Context="editFormContext">
                                @{
                                    var wellWork = editFormContext as WellWork;
                                }
                                <MudRTLProvider RightToLeft="IsRightToLeft">
                                    <MudGrid>
                                        <MudItem md="4" sm="12">
                                            <MudField Label="@($"{L["GridHeaderLocation"]}:")" Underline="false">
                                                <SamcoRigSelector DataSource="_rigs" @bind-SelectedRig="@wellWork!.RigNo"/>
                                            </MudField>
                                        </MudItem>
                                        <MudItem md="4" sm="12">
                                            <MudField Label="@($"{L["GridHeaderWell"]}:")" Underline="false">
                                                <SfComboBox TItem="ListWell" TValue="ListWell" DataSource="@_selProjectWllList"
                                                            Placeholder="@L["RequiredText"]" @bind-Value="@_selProjectWell" EnableRtl="IsRightToLeft">
                                                    <ComboBoxTemplates TItem="ListWell">
                                                        <HeaderTemplate>
                                                            <MudGrid Justify="Justify.SpaceEvenly" Class="w-100">
                                                                <MudItem Class="w-50">
                                                                    <MudText Typo="Typo.body1">@L["GridHeaderProjectName"]</MudText>
                                                                </MudItem>
                                                                <MudItem Class="w-50">
                                                                    <MudText Typo="Typo.body1">@L["GridHeaderWellName"]</MudText>
                                                                </MudItem>
                                                            </MudGrid>
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <MudGrid Justify="Justify.SpaceEvenly" Class="w-100">
                                                                <MudItem Class="w-50">@(context.ProjectName)</MudItem>
                                                                <MudItem Class="w-50">@(context.Name)</MudItem>
                                                            </MudGrid>
                                                        </ItemTemplate>
                                                    </ComboBoxTemplates>
                                                    <ComboBoxFieldSettings Text="Name"/>
                                                </SfComboBox>
                                            </MudField>
                                        </MudItem>
                                        <MudItem md="4" sm="12">
                                            <MudField Label="@($"{L["GridHeaderStartDate"]}:")" Underline="false">
                                                <SamcoDateSelector @bind-DateNotNull="@wellWork!.StartDate" DefaultCalendar="SamcoDateSelector.CalendarType.Persian"/>
                                            </MudField>
                                        </MudItem>
                                        <MudItem md="4" sm="12">
                                            <MudField Label="" Underline="false">
                                                <SamcoDateSelector @bind-Date="@wellWork!.EndDate" DefaultCalendar="SamcoDateSelector.CalendarType.Persian"/>
                                            </MudField>
                                        </MudItem>
                                        <MudItem md="4" sm="12">
                                            <MudField Label="@($"{L["GridHeaderStatus"]}:")" Underline="false">
                                                <MudCheckBox @bind-Value="@wellWork!.IsActive" Label="@L["Projects_ActiveLabel"]" />
                                            </MudField>
                                        </MudItem>
                                    </MudGrid>
                                </MudRTLProvider>
                            </Template>
                        </GridEditSettings>
                    </SfGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</div>