@using Samco_HSE.HSEData
@using FilterType = Syncfusion.Blazor.DropDowns.FilterType

<MudDialog>
    <DialogContent>
        <MudAlert Severity="Severity.Info" Elevation="3" Variant="Variant.Filled"
                  ContentAlignment="HorizontalAlignment.Right" Style="margin-bottom: 10px;">
            فقط تجهیزات موجود در محل نمایش داده می شوند.
        </MudAlert>
        <MudGrid>
            <MudItem lg="6" md="12">
                <label>نام تجهیز</label>
                <SfDropDownList @ref="_equipmentSelectorList" TItem="Equipment" TValue="int" DataSource="@EquipmentsList" Placeholder="یک مورد را انتخاب کنید..." CssClass="e-multi-column"
                                AllowFiltering="true" FilterType="FilterType.Contains">
                    <DropDownListTemplates TItem="Equipment">
                        <ItemTemplate>
                            <table>
                                <tbody>
                                <tr>
                                    <td class="e-text-center column-width">@context.Name</td><td>@context.Model</td>
                                </tr>
                                </tbody>
                            </table>
                        </ItemTemplate>
                        <ValueTemplate>
                            <span class="ms-2" style="vertical-align: sub">@context.Name - @context.Model</span>
                        </ValueTemplate>
                    </DropDownListTemplates>
                    <DropDownListFieldSettings Value="Oid" Text="Name"/>
                </SfDropDownList>
            </MudItem>
            <MudItem lg="2" md="12">
                <MudNumericField @ref="EquipCountBox" T="int" Min="1" Label="تعداد"/>
            </MudItem>
            <MudItem lg="2" md="12">
                <MudButton Class="mt-4" Variant="Variant.Filled" Color="Color.Primary" OnClick="AddToListClick">افزودن</MudButton>
            </MudItem>
            <MudItem lg="12">
                <MudGrid Class="my-5">
                    <MudDataGrid Items="@_selectedEquipment">
                        <Columns>
                            <PropertyColumn Property="x => x.Key.Name" Title="نام تجهیز"/>
                            <PropertyColumn Property="x => x.Key.Model" Title="مدل / سایز"/>
                            <PropertyColumn Property="x => x.Value" Title="تعداد"/>
                        </Columns>
                    </MudDataGrid>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="() => MudDialogParent.Cancel()">انصراف</MudButton>
        <MudButton Color="Color.Success" OnClick="SubmitChanges" Variant="Variant.Filled" >تأیید</MudButton>
    </DialogActions>
</MudDialog>