@page "/about"
@using Syncfusion.Blazor.Inputs
@inject IConfiguration Configuration
@inject IWebHostEnvironment HostEnvironment
@inject IStringLocalizer<Resource> L

<style>
    .e-input:not(:valid), .e-input:valid, .e-float-input.e-control-wrapper input:not(:valid), .e-float-input.e-control-wrapper input:valid, .e-float-input input:not(:valid), .e-float-input input:valid, .e-input-group input:not(:valid), .e-input-group input:valid, .e-input-group.e-control-wrapper input:not(:valid), .e-input-group.e-control-wrapper input:valid, .e-float-input.e-control-wrapper textarea:not(:valid), .e-float-input.e-control-wrapper textarea:valid, .e-float-input textarea:not(:valid), .e-float-input textarea:valid, .e-input-group.e-control-wrapper textarea:not(:valid), .e-input-group.e-control-wrapper textarea:valid, .e-input-group textarea:not(:valid), .e-input-group textarea:valid {
        height: 260px;
    }
</style>

<MudGrid>
    <MudItem lg="8" md="8" sm="12">
        <Animation Class="mb-3" Effect="@Effect.FadeIn" Speed="@Speed.Slow">
            <MudCard Elevation="3">
                <MudCardHeader>
                    <MudText Typo="Typo.h6">
                        @L["About_AboutText"]
                    </MudText>
                </MudCardHeader>
                <MudCardContent>
                    <p>
                        @L["About_Description1"]
                    </p>
                    <p>
                        @L["About_Description2"]
                    </p>
                </MudCardContent>
            </MudCard>
        </Animation>
        <Animation Effect="@Effect.FadeInRight" Class="mt-2">
            <MudCard Elevation="3">
                <MudCardHeader>
                    <MudText Typo="Typo.h6">
                        @L["About_ReleaseNotes"]
                    </MudText>
                </MudCardHeader>
                <MudCardContent>
                    <SfTextBox Value="@GetReleaseNote()" Placeholder="No Information" CssClass="w-100" Multiline="true"
                               Readonly="true" />
                </MudCardContent>
            </MudCard>
        </Animation>
    </MudItem>
    <MudItem lg="4" md="4" sm="12">
        <Animation Effect="@Effect.FadeInUp" Speed="@Speed.Slow" Class="mb-3">
            <MudCard Elevation="3" Class="opacity-75 h-100">
                <MudCardContent Class="text-center">
                    <img alt="logo" src="images/logo.svg" width="150" />
                    <h4>Samco® HSE Management System</h4>
                    <p>Version: @GetApplicationVersion()</p>
                </MudCardContent>
            </MudCard>
        </Animation>
        <Animation Effect="@Effect.FadeInUp" Class="mt-3">
            <MudCard Elevation="3">
                <MudCardHeader>
                    <MudText Typo="Typo.h6">
                        @L["About_CompanyInfo"]
                    </MudText>
                </MudCardHeader>
                <MudCardContent>
                    <p>@L["About_CompanyName"] @Configuration["CompanyInfo:Name"]</p>
                    <p>@L["About_Address"] @Configuration["CompanyInfo:Address"]</p>
                    <p>@L["About_Phone"] @Configuration["CompanyInfo:Phone"]</p>
                </MudCardContent>
            </MudCard>
        </Animation>
        <Animation Effect="@Effect.FadeInUp" Class="mt-3">
            <MudCard Elevation="3">
                <MudCardHeader>
                    <MudText Typo="Typo.h6">
                        @L["About_ContactUs"]
                    </MudText>
                </MudCardHeader>
                <MudCardContent>
                    <p>@L["About_Website"] <a style="display: inline" href="https://samcosoft.ir">https://samcosoft.ir</a></p>
                    <p>@L["About_Support"] <a style="display: inline" href="mailto:support@samcosoft.ir">support@samcosoft.ir</a></p>
                    <p>@L["About_Phone"] <a dir="ltr" style="display: inline;" href="tell:+989397532159">+98 939 7532159</a></p>
                </MudCardContent>
            </MudCard>
        </Animation>
    </MudItem>
    <MudItem lg="12">
        <AuthorizeView>
            <Authorized Context="_">
                <MudCard Elevation="3">
                    <MudCardHeader>
                        <MudText Typo="Typo.h6">
                            @L["About_LicenseInfo"]
                        </MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        @{
                            if (_isTrial)
                            {
                                <MudAlert Severity="Severity.Warning" Elevation="3">
                                    @L["About_TrialMessage"]
                                </MudAlert>
                            }
                            if (!string.IsNullOrEmpty(_returnMsg))
                            {
                                <MudAlert Severity="Severity.Info" Elevation="3">
                                    @_returnMsg
                                </MudAlert>
                            }
                        }
                        <MudGrid>
                            @{
                                if (_isTrial || !_isValid)
                                {
                                    <MudItem md="6" sm="12">
                                        <MudGrid>
                                            <MudItem md="9" sm="12">
                                                <MudCard Elevation="3">
                                                    <MudCardHeader>
                                                        <MudText Typo="Typo.h6">@L["About_Activation"]</MudText>
                                                    </MudCardHeader>
                                                    <MudCardContent>
                                                        <SfMaskedTextBox @bind-Value="_activationKey" Mask="AAAA-AAAA-AAAA-AAAA-AAAA-AAAA-AAAA-AAAA" EnableLiterals="true" CssClass="ltr text-center w-100" />
                                                    </MudCardContent>
                                                </MudCard>
                                            </MudItem>
                                            <MudItem md="3" sm="12">
                                                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Activate">@L["About_Activate"]</MudButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudItem>
                                    <MudItem md="6" sm="12">
                                        <MudTextField T="string" @bind-Value="_licenseInfo" Lines="3" Class="text-center ltr" />
                                    </MudItem>
                                }
                                else
                                {
                                    <MudItem lg="12" md="12">
                                        <MudTextField T="string" @bind-Value="_licenseInfo" Lines="3" Class="text-center ltr" />
                                    </MudItem>
                                    <MudItem lg="12" md="12">
                                        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="Deactivate" IconClass="fas fa-unlock-keyhole">@L["About_Deactivate"]</MudButton>
                                    </MudItem>
                                }
                            }
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </Authorized>
        </AuthorizeView>
    </MudItem>
</MudGrid>
