@inherits LayoutComponentBase

<PageTitle>Samco HSE Manager</PageTitle>
<HeadContent>
    @{
        foreach (var theme in _devexpressTheme)
        {
            <link href="@theme" asp-append-version="true" rel="stylesheet"/>
        }
    }
</HeadContent>

<div class="page">
    <MudRTLProvider RightToLeft="true">
        <MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" Theme="_samcoTheme"/>
        <MudDialogProvider Position="DialogPosition.Center"/>
        <MudSnackbarProvider/>
        <Syncfusion.Blazor.Popups.SfDialogProvider/>
        <MudLayout id="mainWindow">
            <Header @bind-ToggleOn="@IsSidebarExpanded" DarkMode="_isDarkMode" DarkModeChanged="SetTheme"></Header>
            <MudDrawer @bind-Open="@IsSidebarExpanded" Style="top: 0; height: 100vh" Variant="DrawerVariant.Mini" ClipMode="DrawerClipMode.Always">
                <NavMenu/>
            </MudDrawer>
            <MudMainContent>
                <div class="mx-3 mt-2" style="margin-bottom: 60px">
                    @Body
                </div>
            </MudMainContent>
            <MudAppBar Bottom="true" Fixed="true" Color="Color.Dark" Elevation="1" Dense="true">
                <MudSpacer/>
                <MudText Typo="Typo.subtitle2">
                    Copyright 2022-@DateTime.Now.Year Samco Software Group. All rights reserved. Version: <a style="display: inline; color: white" href="about">@GetApplicationVersion()</a>
                </MudText>
                <MudSpacer/>
            </MudAppBar>
        </MudLayout>
    </MudRTLProvider>
</div>