@inherits LayoutComponentBase

<PageTitle>Samco HSE Manager</PageTitle>
<HeadContent>
   @{
       foreach (var theme in _devexpressTheme)
       {
            <link href="@theme" asp-append-version="true" rel="stylesheet" />
       }
   }
</HeadContent>
<DxLayoutBreakpoint MaxWidth="1200"
                    @bind-IsActive="@IsMobileLayout" />

<div class="page">
    <MudRTLProvider RightToLeft="true">
        <MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" Theme="_samcoTheme" />
        <MudDialogProvider />
        <MudSnackbarProvider />
        <DxGridLayout CssClass="page-layout">
            <Rows>
                @if (IsMobileLayout)
                {
                    <DxGridLayoutRow Areas="header" Height="auto"></DxGridLayoutRow>
                    <DxGridLayoutRow Areas="sidebar" Height="auto"></DxGridLayoutRow>
                    <DxGridLayoutRow Areas="content" />
                    <DxGridLayoutRow Areas="footer" Height="auto" />
                }
                else
                {
                    <DxGridLayoutRow Areas="header header" Height="auto" />
                    <DxGridLayoutRow Areas="@(IsSidebarExpanded ? "sidebar content" : "content content")" />
                    <DxGridLayoutRow Areas="footer footer" Height="auto" />
                }
            </Rows>
            <Columns>
                @if (!IsMobileLayout)
                {
                    <DxGridLayoutColumn Width="auto" />
                    <DxGridLayoutColumn />
                }
            </Columns>
            <Items>
                <DxGridLayoutItem Area="header" CssClass="layout-item">
                    <Template>
                        <Header @bind-ToggleOn="@IsSidebarExpanded" DarkMode="_isDarkMode" DarkModeChanged="SetTheme"/>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Area="sidebar" CssClass="layout-item top-space">
                    <Template>
                        <NavMenu StateCssClass="@NavMenuCssClass" />
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Area="content" CssClass="content top-space px-4 layout-item h-100">
                    <Template>

                        <MudLayout>
                            <MudMainContent Class="pt-0">
                                @Body
                            </MudMainContent>
                        </MudLayout>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Area="footer" CssClass="layout-item">
                    <Template>
                        <footer class="footer bg-light fixed-bottom d-flex flex-row" style="justify-content: center">Copyright 2022-@DateTime.Now.Year Samco Software Group. All rights reserved. Version: <a style="display: inline" href="about">@GetApplicationVersion()</a></footer>
                    </Template>
                </DxGridLayoutItem>
            </Items>
        </DxGridLayout>
    </MudRTLProvider>
</div>
