@page "/equipment"
@attribute [Authorize(Roles = "Owner,Admin,Supervisor,Officer")]
@using Samco_HSE.HSEData
<<<<<<< HEAD
@using Syncfusion.Blazor.Popups
=======
>>>>>>> be697d2bb4241c75660036950b79ee7e3dfb1f26
@using FilterType = Syncfusion.Blazor.Grids.FilterType

<PageTitle>مدیریت تجهیزات حفاظت فردی</PageTitle>

<MudCard>
    <MudCardHeader>
        <MudPaper Elevation="3" Width="100%" Class="pa-3">
            <MudGrid>
                <MudItem>
                    <MudText Typo="Typo.h5">مدیریت تجهیزات حفاظت فردی</MudText>
                </MudItem>
                <MudItem>
                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                        <MudButton StartIcon="fas fa-input-numeric" IconColor="Color.Error" OnClick="OnSetNumberBtnClick">تنظیم موجودی</MudButton>
                        <MudButton StartIcon="fas fa-hand-holding-box" IconColor="Color.Warning" OnClick="OnDistributeBtnClick">توزیع تجهیزات</MudButton>
                    </MudButtonGroup>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudCardHeader>
    <MudCardContent>
        <SfGrid @ref="EquipmentGrid" ID="equipGrid" DataSource="@EquipmentsList" AllowPaging="true" AllowSorting="true" AllowFiltering="true" EnableStickyHeader="true"
                AllowGrouping="true" Toolbar="@(new[] { "Add", "Edit", "Delete", "Excel Export", "Search", "ColumnChooser" })" ClipMode="ClipMode.EllipsisWithTooltip"
                AllowResizing="true" ShowColumnChooser="true" EnableAdaptiveUI="true" AdaptiveUIMode="AdaptiveMode.Mobile"
                AllowExcelExport="true" Width="100%">
            <GridEvents TValue="Equipment" OnActionBegin="EquipGrid_Action"
                        OnToolbarClick="EquipToolbarClickHandler"/>
            <GridFilterSettings Type="FilterType.Excel"/>
            <GridColumns>
                <GridColumn HeaderText="ردیف" Field="Oid" IsPrimaryKey="true" Visible="false"/>
                <GridColumn HeaderText="نام تجهیز" Field="Name" AutoFit="true"/>
                <GridColumn HeaderText="واحد شمارش" Field="CountUnit" AutoFit="true"/>
                <GridColumn HeaderText="مدل / اندازه" Field="Model" AutoFit="true"/>
                <GridColumn HeaderText="نوع تجهیز" Field="@nameof(Equipment.EquipType)" AutoFit="true"/>
                @{
                    if (Rigs != null)
                    {
                        foreach (var rig in Rigs)
                        {
                            <GridColumn HeaderText="@($"تعداد در {rig.Name}")" AutoFit="true">
                                <Template>
                                    @{
                                        var itm = context as Equipment;
                                        @EquipmentGridUnbound(rig.Oid, itm!)
                                    }
                                </Template>
                            </GridColumn>
                        }
                    }
                }
            </GridColumns>
            <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowEditOnDblClick="true" Mode="EditMode.Dialog"
                              ShowDeleteConfirmDialog="true" Dialog="@SamcoSoftShared.GeneralGridEditOption">
                <Validator>
                    <DataAnnotationsValidator/>
                </Validator>
                <Template Context="editFormContext">
                    @{
                        var equipment = (Equipment)editFormContext;
                    }
                    <MudRTLProvider RightToLeft="true">
                        <MudGrid>
                            <MudItem md="6" sm="12">
                                <MudTextField Label="نام تجهیز:" @bind-Value="@equipment.Name" Placeholder="الزامی"
                                              Adornment="Adornment.Start" AutoFocus="true"/>
                            </MudItem>
                            <MudItem md="6" sm="12">
                                <MudTextField Label="مدل / اندازه:" @bind-Value="@equipment.Model"
                                              Adornment="Adornment.Start"/>
                            </MudItem>
                            <MudItem md="6" sm="12">
                                <MudTextField Label="واحد شمارش:" @bind-Value="@equipment.CountUnit"
                                              Adornment="Adornment.Start"/>
                            </MudItem>
                            <MudItem md="6" sm="12">
                                <MudField Label="نوع تجهیز:" DisableUnderLine="true">
                                    <SfComboBox TValue="string" TItem="string" DataSource="@_ppeKind" Placeholder="الزامی"
                                                @bind-Value="@equipment.EquipType" AllowFiltering="true">
                                    </SfComboBox>
                                </MudField>
                            </MudItem>
                            <MudItem md="6" sm="12">
                                <MudField Label="استفاده کنندگان:" DisableUnderLine="true">
                                    <SfMultiSelect TItem="string" TValue="string[]" DataSource="@RigRoles"
                                                   @bind-Value="@Consumers" Placeholder="الزامی" Mode="VisualMode.CheckBox"
                                                   AllowFiltering="true" FilterBarPlaceholder="برای جستجو تایپ کنید..." FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                                   ShowClearButton="true" SelectAllText="انتخاب همه" ShowSelectAll="true"
                                                   UnSelectAllText="حذف همه"/>
                                </MudField>
                            </MudItem>
                        </MudGrid>
                    </MudRTLProvider>
                </Template>
            </GridEditSettings>
        </SfGrid>
    </MudCardContent>
<<<<<<< HEAD
</MudCard>

<SfDialog @ref="DistModal" Header="توزیع تجهیز" AllowDragging="true" Visible="false" IsModal="true" Width="600px" ShowCloseIcon="true"
          CloseOnEscape="true">
    <DialogTemplates>
        <Content>
            <MudAlert Severity="Severity.Info" Elevation="3" Variant="Variant.Filled"
                      ContentAlignment="HorizontalAlignment.Right">
                از این قسمت می‌توانید یک تجهیز را بین تعداد زیادی از کارکنان توزیع کنید.
            </MudAlert>
            <MudGrid>
                <MudItem lg="12">
                    <SfGrid @ref="PersonnelGrid" DataSource="@Personnel" AllowPaging="true" AllowSorting="true" AllowFiltering="true" EnableStickyHeader="true"
                            AllowGrouping="true" Toolbar="@(new[] { "Search", "ColumnChooser" })" ClipMode="ClipMode.EllipsisWithTooltip"
                            AllowResizing="true" ShowColumnChooser="true" EnableAdaptiveUI="true" AdaptiveUIMode="AdaptiveMode.Mobile"
                            Width="100%" AllowSelection="true">
                        <GridFilterSettings Type="FilterType.Excel"/>
                        <GridSelectionSettings Type="SelectionType.Multiple" EnableToggle="true" AllowDragSelection="true"/>
                        <GridEvents TValue="Samco_HSE.HSEData.Personnel" RowSelected="PersonnelGrid_SelectionChanged"/>
                        <GridColumns>
                            <GridColumn Type="ColumnType.CheckBox" Width="50"/>
                            <GridColumn HeaderText="ردیف" Field="Oid" IsPrimaryKey="true" Visible="false"/>
                            <GridColumn HeaderText="نام دکل / دفتر" Field="ActiveRig.Name" AutoFit="true"/>
                            <GridColumn HeaderText="نام و نام خانوادگی" Field="PersonnelName" AutoFit="true"/>
                            <GridColumn HeaderText="کد ملی" Field="NationalID" AutoFit="true"/>
                            <GridColumn HeaderText="شماره پرسنلی" Field="PersonnelNum" AutoFit="true"/>
                            <GridColumn HeaderText="سمت فعلی" Field="CurrentRole" AutoFit="true"/>
                            <GridColumn HeaderText="سایز کفش" Field="ShoeSize" AutoFit="true"/>
                            <GridColumn HeaderText="سایز لباس" Field="ClothSize" AutoFit="true"/>
                            <GridColumn HeaderText="وضعیت" Field="Status" AutoFit="true"/>
                        </GridColumns>
                    </SfGrid>
                </MudItem>
                <MudItem lg="12">
                    <MudNumericField @ref="EquipCountBox" Label="تعداد:" T="int" Min="1" ValueChanged="PersonnelGrid_SelectionChanged"/>
                </MudItem>
                <MudItem lg="12">
                    <div style="display: @(_alertVisible ? "block" : "none")">
                        <MudAlert Severity="Severity.Warning" Elevation="3">
                            @_alertMessage
                        </MudAlert>
                    </div>
                </MudItem>
            </MudGrid>
        </Content>
        <FooterTemplate>
            <MudButton Color="Color.Success" StartIcon="fas fa-check" OnClick="DistributeOkBtnClick">تأیید</MudButton>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>
=======
</MudCard>
>>>>>>> be697d2bb4241c75660036950b79ee7e3dfb1f26
