@using FilterType = Syncfusion.Blazor.DropDowns.FilterType
@using Samco_HSE.HSEData
@inject IDataLayer DataLayer;
@inject ISnackbar Snackbar;
@inject IDialogService DialogService;
@inject IWebHostEnvironment HostEnvironment;

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.FilePresent" Class="me-3 mb-1" />
            گزارش جدید
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudGrid>
            <MudItem lg="12" md="12">
                <MudField Label="نام دکل / دفتر:" Underline="false">
                    <SamcoRigSelector DataSource="Rigs" @bind-SelectedRig="_selRig" />
                </MudField>
            </MudItem>
            <MudItem lg="12" md="12">
                <MudField Label="انتخاب گزارش:" Underline="false">
                    <SfDropDownList TValue="int" TItem="HSEForm" Placeholder="یک فرم را انتخاب کنید" CssClass="e-multi-column"
                                    DataSource="@FormCollection" PopupHeight="300px" Width="100%" AllowFiltering="true"
                                    @bind-Value="SelFormId"
                                    FilterType="FilterType.Contains">
                        <DropDownListTemplates TItem="HSEForm">
                            <ItemTemplate>
                                <table>
                                    <tbody>
                                        <tr>
                                            <th class="e-text-center" style="width: 300px">عناون</th>
                                            <th>کد</th>
                                            <th>نسخه</th>
                                        </tr>
                                        <tr><td class="e-text-center" style="width: 300px">@context.Title</td><td>@context.Code</td><td>@context.Revision</td></tr>
                                    </tbody>
                                </table>
                            </ItemTemplate>
                            <ValueTemplate>
                                <span class="ms-2" style="vertical-align: sub">@context.Title</span>
                            </ValueTemplate>
                        </DropDownListTemplates>
                        <DropDownListFieldSettings Value="Oid" Text="Title" />
                    </SfDropDownList>
                </MudField>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="Cancel">انصراف</MudButton>
        <MudButton Color="Color.Success" Variant="Variant.Filled" StartIcon="fas fa-check" OnClick="Submit">انتخاب</MudButton>
    </DialogActions>
</MudDialog>