@page "/personnelHome"
@using Samco_HSE.HSEData
@using Syncfusion.Blazor.Popups
@using FilterType = Syncfusion.Blazor.Grids.FilterType
@attribute [Authorize]
<PageTitle>گزارش اعمال / شرایط ایمن و نا ایمن</PageTitle>
<MudCard>
    <MudCardHeader>
        <MudPaper Elevation="3" Width="100%" Class="pa-3">
            <MudGrid>
                <MudItem>
                    <MudText Typo="Typo.h5">گزارش اعمال / شرایط ایمن و نا ایمن</MudText>
                </MudItem>
                <MudItem>
                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                        <MudButton Color="Color.Primary" StartIcon="fas fa-plus" OnClick="OnNewBtnClick">جدید</MudButton>
                        <MudButton Color="Color.Warning" StartIcon="fas fa-pencil-alt" OnClick="OnEditBtnClick">ویرایش</MudButton>
                        <MudButton Color="Color.Error" StartIcon="fas fa-trash-alt" OnClick="() => _isOpen = !_isOpen">حذف</MudButton>
                        <MudPopover Open="@_isOpen" Fixed="true"
                                    OverflowBehavior="OverflowBehavior.FlipAlways" AnchorOrigin="Origin.BottomCenter"
                                    TransformOrigin="Origin.TopCenter">
                            <div class="d-flex flex-column">
                                <MudText>"آیا از حذف کارت مطمئنید؟"</MudText>
                                <MudButton OnClick="@OnDelBtnClick" Class="ms-auto me-3 mb-1" Color="Color.Error" StartIcon="fas -trash-alt">حذف</MudButton>
                            </div>
                        </MudPopover>
                    </MudButtonGroup>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudCardHeader>
    <MudCardContent>
        <SfGrid @ref="StopGrid" ID="stopGrid" DataSource="@StopsList" AllowPaging="true" AllowSorting="true" AllowFiltering="true" EnableStickyHeader="true"
                AllowGrouping="true" Toolbar="@(new[] { "Add", "Edit", "Delete", "Excel Export", "Search", "ColumnChooser" })" ClipMode="ClipMode.EllipsisWithTooltip"
                AllowResizing="true" ShowColumnChooser="true" EnableAdaptiveUI="true" AdaptiveUIMode="AdaptiveMode.Mobile"
                AllowExcelExport="true" Width="100%">
            <GridEvents TValue="StopCard" RowDataBound="Customize_Row"/>
            <GridFilterSettings Type="FilterType.Excel"/>
            <GridColumns>
                <GridColumn HeaderText="ردیف" Field="Oid" IsIdentity="true" IsPrimaryKey="true" Visible="false"/>
                <GridColumn HeaderText="دکل / دفتر" Field="WorkID.RigNo.Name" AutoFit="true"/>
                <GridColumn Field="ReportDate" HeaderText="تاریخ گزارش" AutoFit="true" MinWidth="180"/>
                <GridColumn Field="Location" HeaderText="محل مشاهده" AutoFit="true" MinWidth="200"/>
                <GridColumn Field="Observation" HeaderText="مشاهدات" AutoFit="true" MinWidth="400"/>
                <GridColumn Field="Responsible" HeaderText="مسئول پیگیری" AutoFit="true" MinWidth="200"/>
                <GridColumn HeaderText="ریسک" MinWidth="70" AutoFit="true">
                    <Template>
                        @{
                            var card = context as StopCard;
                            var sever = _stopRisk.ToList().IndexOf(card.Severity) + 1;
                            var prob = _stopProb.ToList().IndexOf(card.Probablety) + 1;
                            var result = (sever * prob) switch
                            {
                                >= 16 => "High",
                                >= 9 => "Medium",
                                _ => "Low"
                                };
                            <MudText Typo="Typo.body1">@result</MudText>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="Status" HeaderText="وضعیت" AutoFit="true" MinWidth="100"/>
                <GridColumn Field="Comments" HeaderText="توضیحات" AutoFit="true" MinWidth="300"/>
                <GridColumn Field="IsApproved" HeaderText="تأیید شده" DisplayAsCheckBox="true" MinWidth="100"/>
                <GridColumn HeaderText="امتیاز" AutoFit="true" MinWidth="150">
                    <Template>
                        <MudRating SelectedValue="@(((StopCard)context).Score)" Disabled="true" MaxValue="5" Class="d-inline-block"/>
                    </Template>
                </GridColumn>
                <GridColumn HeaderText="تصاویر" AllowSorting="false" AutoFit="true" Width="100">
                    <Template>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="() => ShowImages(((StopCard)context).Oid)">نمایش</MudButton>
                    </Template>
                </GridColumn>
                <GridColumn Field="Agent.PersonnelName" HeaderText="کارشناس ایمنی" AutoFit="true" MinWidth="100"/>
            </GridColumns>
            <GridEditSettings AllowAdding="false" AllowDeleting="false" AllowEditing="false" AllowEditOnDblClick="false"/>
        </SfGrid>
    </MudCardContent>
</MudCard>

<SfDialog @ref="@EditPopup" Header="@_cardEditorHeader" CloseOnEscape="true">
    <DialogTemplates>
        <Content>
            <MudGrid>
                <MudItem lg="8" md="8" sm="12">
                    <MudTextField T="string" @bind-Value="@SelectedCard.Observation" Label="مشاهدات:" Placeholder="الزامی" Lines="3"/>
                </MudItem>
                <MudItem lg="4" md="4" sm="12">
                    <MudField Label="تصاویر:" Underline="false">
                        <FileUploader DataId="@DataId" SavePath="SamcoSoftShared.UploadFolders.StopCards"
                                      AllowedExtension="FileUploader.AllowedFileExtensions.ImagesOnly"
                                      BeforeStart="@CardUploadStart" AllowMultiple="true"/>
                    </MudField>
                </MudItem>
            </MudGrid>
        </Content>
        <FooterTemplate>
            <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="@SaveCardInfoClick">ثبت اطلاعات</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="@(() => EditPopup.HideAsync())">انصراف</MudButton>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<SfDialog @bind-Visible="@_photoShowVisible" Header="تصاویر" Width="500" CloseOnEscape="true">
    <DialogTemplates>
        <Content>
            <MudCarousel ItemsSource="@_photoList" AutoCycle="true" AutoCycleTime="TimeSpan.FromSeconds(10)">
                <ItemTemplate>
                    <MudImage Src="@context" Elevation="2"/>
                </ItemTemplate>
            </MudCarousel>
        </Content>
        <FooterTemplate>
            <MudButton Color="Color.Error" OnClick="@(() => _photoShowVisible = false)">بستن</MudButton>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>
